<% include ../partials/header %>

    <main role="main" class="inner cover">
        <% if (alert.length > 0) { %>
        <div class="alert alert-success alert-short mb-3" role="alert">
            <%= alert %>
        </div>
        <% } %>
        <!--<h1 class="cover-heading">Profile</h1>-->
        <p class="lead"><%= result.username %></p>
        <p class="lead"><%= result.email %></p>
        <p class="lead">Joined <%= result.datecreated %></p>
        <p class="lead"><%= result.description %></p>

        <% if (req.user === undefined) { %>
        <% } else if (req.user.id !== result.id) { %>
        <% } else { %>
        <!--<p class="lead">-->
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-secondary mr-3" href="/users/<%= result.id %>/edit">Edit</a>
            <form action="/users/<%= result.id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-outline-secondary">Delete</button>
            </form>
        </div>
        <!--</p>-->
        <% } %>
    </main>

<% include ../partials/footer %>
